#pm bochs log
*.com
*.txt

#obj
*.o

#debug
debug/*
*.map
*.bin.asm
*.log
*.dot
*.tmp

*.png

#ctags
tags

# bin file
*.bin

# libh.a
beta/lib/libh.a
*.a

# img
*/pm.img
pm/pm.img
*/x.img
beta/x.img

# user *.tar application
beta/usr/*.tar
beta/usr/echo
beta/usr/pwd
